<div class="main">
    <div class="img-background">
        <div class="images">
            <img src="../../assets/img/pexels-karolina-grabowska-4968667.jpg" alt="">
            <img src="../../assets/img/pexels-tima-miroshnichenko-6169678.jpg" alt="">
            <img src="../../assets/img/pexels-ksenia-chernaya-5691655.jpg" alt="">
            <img src="../../assets/img/pexels-tima-miroshnichenko-6170413.jpg" alt="">
            <img src="../../assets/img/pexels-tiger-lily-4483608.jpg" alt="">
            <img src="../../assets/img/pexels-johnmark-smith-281962.jpg" alt="">

        </div>
    </div>
    <div class="content-login">
        <div id="line">
            <hr/>
            <hr/>
        </div>
        <div class="form-cont centro">
            <div id="from-log">
                <div class="logo">
                    <img src="../../assets/img/logoveder-letras.png" alt="">
                </div>
                <div class="form centro">
                    <div class="input-container ">
                        <div class="input">
                            <label for="email"><i class="fas fa-envelope icon"></i>
                          Correo
                        </label>
                            <input type="email" name="email" class="input-field" placeholder="Email@tuemail.com" />
                        </div>
                        <div class="input">
                            <label for="password">  <i class="fas fa-unlock icon"></i>Contraseña</label>
                            <input type="password" name="password" class="input-field" placeholder="Tu contraseña" />
                        </div>
                    </div>
                    <div class="btn-container ">
                        <input class="btn" onclick="go()" type="button" value=" Ingresar" />
                    </div>
                    <div class="centro enlace">
                        <p><a href="#">Recuperar Conraseña</a></p>
                        <p>Aun no tienes Cuenta? <a href="#">Registrarse </a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
